/* custom styles */
nav {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav li {
  margin: 0 20px;
  text-decoration: none;
}


header {
  text-align: center;
  background-image: url('../imgs/luca-bravo-207676.jpg');
  background-size: cover;
}

h1 {
  font-family: Oswald, sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  margin: 0;
  padding: 40px;
  padding-bottom: 70px;
}

body {
  color: white;
}

h2 {
  font-size: 40px;
  padding: 25px 0px;
  margin: 0;
}

main {
  font-family: 'Titillium Web', sans-serif;
}

li {
  font-size: 25px;
}

a {
  color: inherit;
}

h4 {
  font-size: 25px;
}

big {
  padding-left: 35px;
}

.nav-bar {
  text-align: center;
}

.brand-logo {
  margin-left: 20px;
}

.headshot {
  border-radius: 40px;
  border: solid;
  border-color: black;
  border-width: 5px;
  height: 300px;
  width: auto;
  margin: 200px 0 20px 0;
}

.my-projects {
  background-image: url('../imgs/jordan-gellie-33556.jpg');
  background-size: cover;
}


.projects-background {
  background-color: rgba(132, 7, 99, .3);
}


.display-projects h4 {
  padding: 15px;
  margin: auto;
}

.about-me {
  background-image: url('../imgs/lukasz-szmigiel-11413.jpg');
  background-size: cover;

}

.about-me p {
  font-size: 22px;
}

.about-background {
  background-color: rgba(11, 23, 188, .25);
}

.contact-info {
  align-items: center;
  background-image: url('../imgs/michal-grosicki-221225.jpg');
  background-size: cover;
}

.contact-info a {
  text-decoration: underline;
}

.contact-background {
  background-color: rgba(0, 0, 0, .5);
}

.container {
  padding-bottom: 25px;
}

.card-title {
  background: rgba(0,0,0,.5);
  border-radius: 10px;
  padding: 10px !important;
}

.card-content {
  background: #2d2d2d;
}

.card-content p {
  font-size: 20px;
}

@media (max-width: 600px) {

  .headshot {
    margin-top: 65px;
  }

  header h1 {
    padding: 25px;
  }

}
