/* custom styles */
nav {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav li {
  margin: 0 20px;
  text-decoration: none;


}


header {
  text-align: center;
  background-image: url('../imgs/luca-bravo-207676.jpg');
  background-size: 100% auto;
}


img {

}

h1 {
  font-family: Oswald, sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  color: white;
  margin: 0;
  padding: 40px;
  padding-bottom: 70px;
}

h2 {
  font-family: Monserrat, sans-serif;
  color: white;
  font-size: 40px;
  margin: 0;
  padding: 35px;
  padding-top: 40px;
}

body {

}



li {
  font-size: 25px;
}

a {
  color: inherit;
}

li a {
  text-decoration: underline;
}

h4 {
  font-size: 25px;
}

big {
  color: white;
  padding-left: 35px;
}

.nav-bar {
  text-align: center;
}

.brand-logo {
  margin-left: 20px;
}

.page-wrapper {

}

.headshot {
  border-radius: 40px;
  border: solid;
  border-color: black;
  border-width: 5px;
  height: 300px;
  width: auto;
  margin: 200px 0 20px 0;
}

.my-projects {
  background-image: url('../imgs/jordan-gellie-33556.jpg');
  background-size: 100% auto;
}

.my-projects img {
  max-height: 200px;
  width: auto;
  border: black 5px solid;
  border-radius: 30px;
  margin: auto;
}

.projects {
  color: white;
}

.projects-background {
  background-color: rgba(132, 7, 99, .3);

}

.display-projects {

}

.display-projects h4 {
  padding: 15px;
  margin: auto;
  color: white;
}



.bottom-filler {
  height: 40px;
  width: auto;

}

.about-me {
  background-image: url('../imgs/lukasz-szmigiel-11413.jpg');
  background-size: 100% auto;

}

.about-me p {
  font-size: 18px;
  color: white;
}

.about-content{
  padding: 0 200px 50px 35px;
}

.about-background {
  background-color: rgba(11, 23, 188, .25);
}

.contact-info {
  align-items: center;
  background-image: url('../imgs/michal-grosicki-221225.jpg');
  background-size: 100% auto;
  color: white;

}

.contact-background {
  background-color: rgba(0, 0, 0, .5);
  padding-bottom: 100px;
}

.contact-background ul {
  padding: 35px;
}
