body {
  font-family: 'Muli', sans-serif;
  color: white;

  /* colors */
  --color-blue: #6B7FD7;
  --color-charcoal: #212121;
  --color-purple: #4C2A85;
  --color-dk-purple: #320E3B;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 30px;
}

.resumeSection {
  background-color: var(--color-purple);
}

.overviewWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headshot {
  position: relative;
  width: 225px;
  height: 270px;
}

.headshot img, .headshotBackground {
  position: absolute;
  height: 200px;
  width: 175px;
}

.headshot img {
  border: 5px solid var(--color-blue);
  border-radius: 3px;
  left: 20px;
  top: 30px;
  z-index: 1;
}

.headshotBackground {
  border-radius: 0 30px 0 30px;
  background-color: var(--color-blue);
}

.headshotBackground:last-child {
  top: 70px;
  left: 50px;
}

.resumeContainer {
  height: 300px;
  display: flex;
  background-color: var(--color-blue);
}

.resumeContainer svg {
  width: 200px;
  height: 100%;
}

.resumeContainer path {
  fill: var(--color-purple);
}

.resumeContainer .inverse {
  background-color: var(--color-purple);
}

.resumeContainer .inverse path {
  fill: var(--color-blue);
}

.contentBox {
  position: relative;
  width: 318px;
}

.contentBox a {
  color: white;
  text-decoration: underline;
}

.name {
  position: absolute;
  left: -165px;
}

.title {
  position: absolute;
  left: -133px;
  top: 53px;
}

.resumeRow {
  position: absolute;
  display: flex;
  width: 450px;
}

.resumeRow p {
  font-size: 18px;
}

.skills {
  top: 96px;
  left: -88px;
}

.companies {
  top: 135px;
  left: -43px;
}

.education {
  top: 174px;
}

.label {
  padding-right: 15px;
}

.icons {
  top: 246px;
  left: 97px;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  text-align: center;
}

.envelope {
  position: relative;
  height: 32px;
  width: 40px;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid;
  border-radius: 3px;
}

.envelope::after {
  height: 25px;
  width: 25px;
  background-color: transparent;
  content: '';
  transform: rotate(45deg);
  left: 5px;
  top: -13px;
  position: absolute;
  border-bottom: 2px solid;
  border-right: 2px solid;
}

a.linkedInIcon {
  font-family: 'Roboto', sans-serif;
  border: 2px solid;
  border-radius: 3px;
  box-sizing: border-box;
  height: 32px;
  width: 32px;
  text-decoration: none;
  font-size: 26px;
}

.projectSection {
  background-color: black;
}

.projectSection hr {
  height: 3px;
  background-color: white;
}

#projectRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projectCard {
  display: flex;
  width: 48%;
  color: white;
  text-decoration: none;
  margin: 20px 0;
}

.projectCard:first-child {
  box-shadow: 0px 0px 7px gold;
  border-radius: 5px;
}

.projectCard img {
  border-radius: 5px 0 0 5px;
  width: 200px;
  object-fit: cover;
}

.projectInfo {
  border-radius: 0 5px 5px 0;
  border: 2px solid;
  border-left: none;
  padding: 10px;
  background-color: var(--color-charcoal);
}

.projectTitle, .description {
  border-bottom: 1px solid;
  margin-bottom: 6px;
  padding-bottom: 4px;
}

.projectTitle {
  font-size: 20px;
}

.description {
  height: 96px;
}

.about {
  background: linear-gradient(rgba(12, 28, 3, 0.7), rgba(12, 28, 3, 0.7)),
    url('../imgs/forest-sm.jpg');
  background-size: cover;
  padding-bottom: 30px;
}

.navBtns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 300px;
  padding-top: 30px;
  font-size: 20px;
}

.navBtns a {
  position: relative;
  color: white;
  text-decoration: none;
  padding-right: 30px;
}

.triangle {
  position: absolute;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  right: 0;
}

.pointUp {
  border-bottom: 10px solid white;
}

.pointDown {
  border-top: 10px solid white;
  top: 10px;
}

.thanks {
  background-color: black;
  text-align: center;
  font-size: 12px;
  padding: 3px;
}

@media (max-width: 975px) {
  .headshot, .resumeContainer svg {
    display: none;
  }

  .name, .title, .resumeRow {
    display: block;
    position: relative;
    left: 0;
    top: unset;
    width: unset;
  }

  .contentBox {
    height: unset;
    width: unset;
    padding: 0 12px;
  }

  .icons {
    display: flex;
    width: 150px;
    justify-content: space-between;
    padding: 10px 0 20px;
  }

  .resumeContainer {
    height: unset;
    width: unset;
  }

  #projectRow {
    flex-direction: column;
    align-items: center;
  }

  .projectCard {
    width: 560px;
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .label {
    display: block;
  }

  .projectCard {
    flex-direction: column;
    width: 275px;
  }

  .projectCard img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
  }

  .projectInfo {
    border-left: 2px solid;
    border-top: none;
    border-radius: 0 0 5px 5px;
  }
}
